.select-hotel{
    color: rgb(252, 174, 174);
    transition: 200ms ease-in;
}

.hotel-outer{
    margin: 40px 0 ;
    padding: 30px;
    border-radius: 6px;
}
.heading{
    margin: 20px;
}
.heading h1{
    color: red;
}
.hotel{
    background-color: #083375;
    margin: 20px;
    display: flex;
    height: 350px;
    color: white;
}
.hotel-data{
    padding: 18px;
}
.price-book{
    display: flex;
    justify-content: space-between;
}
.price-book p{
    color: red;
    font-size: 26px;
}
.hotel-btn button{
    background-color: #083375;
    border: 2px solid white;
    color: white;
    /* border: none; */
    padding: 5px 9px;
    margin: 0 6px;
    width: 100px;
    border-radius: 8px;
    font-weight: 600;
    transition: 200ms ease-in;
}
.hotel-btn button:hover{
    background-color: white;
    color: #083375;
    transition: 200ms ease-in;


}
.load-btn{
    border: 2px solid #083375;
    color: #083375;
    background-color: white;
    padding: 6px 10px;
    border-radius: 6px;
    font-weight: 600;
    margin: 6px 12px;
}
.load-btn:hover{
    color: white;
    background-color: #083375;
    transition: 200ms ease;
}
.hotel-data{
    height: auto;
    flex-grow: 1;
}
.divide{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.image-container img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

@media (max-width:1000px) {
    .hotel{
        flex-direction: column;
        /* min-height: 520px; */
        height: auto !important;
    }
    .hotel-outer{
        padding: 0;
    }
    .hotel-btn button{
        font-size: 14px;
        padding: 8px;
        width: 95px;
        margin: 10px;
    }
    .hotel-outer{
        margin: 60px 0;
    }
    
}